[Unit]
Description=Picture Frame
#Wants=network-online.target graphical.target
#After=network-online.target graphical.target
Wants=graphical.target
After=lightdm.service
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
WorkingDirectory=/home/admin/picframe
#Environment="XAUTHORITY=/home/admin/.Xauthority"
EnvironmentFile=/home/admin/picframe/service_vars
ExecStart=node /home/admin/picframe/picframe.mjs
Restart=always
RestartSec=60s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=picframe
User=admin
Group=admin

[Install]
WantedBy=multi-user.target
