[Unit]
Description=Picture Frame
After=multi-user.target cursor-off.service
Wants=cursor-off.service
# Only if the app needs network before it can load content:
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
WorkingDirectory=/home/admin/picframe
EnvironmentFile=/home/admin/picframe/service_vars
ExecStart=node /home/admin/picframe/picframe.mjs
Restart=always
RestartSec=30s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=picframe
User=admin
Group=admin

[Install]
WantedBy=multi-user.target
